<!DOCTYPE html>
<html lang="ru">
  {{ template "head" . }}
  <body>
      {{ template "header" . }}
      <div class="container main">
        <div class="card-content">
          <div class="card">
            <div class="card-content has-text-centered">
              <div class="subtitle"></div>
              <br>
              Sms Broadcaster Form
              <form action="/send" method="post">
                <label for="text" class="label"></label>
                <div class="control">
                  <textarea type="text" name="text" id="text" class="textarea"></textarea>
                </div>
                <br>
                <label for="uuid" class="label">uuid</label>
                <div class="control">
                  <select name="uuid" id="uuid" class="input">
                    {{ range $key, $value := .Connections }}
                      <option value="{{ $key }}">{{ $key }}</option>
                    {{ end }}
                  </select>
                </div>
                <hr>
                <input class="button" type="submit" name="send" value="send">
              </form>

            </div>
          </div>
        </div>
      </div>
      {{ template "footer" . }}
  </body>
</html>
