<!DOCTYPE html>
<html lang="ru">
  {{ template "head" . }}
  <body>
      {{ template "header" . }}
      <div class="container main">
        <div class="card-content">
          <div class="card">
            <div class="card-content has-text-centered">
              <div class="subtitle"></div>
              <br>
              Сайт для того чтобы следить за участниками. Пока только наполняется. Все кто хотят добавить кого либо в список участников то пишите мне на телеграмм @heliocrad.
              <br>
            </div>
          </div>
        </div>
      </div>
      {{ template "footer" . }}
  </body>
</html>
