<!DOCTYPE html>
<html lang="ru">
  {{ template "head" . }}
  <body>
      {{ template "header" . }}
      <div class="container main">
        <div class="card-content">
          <div class="card">
            <div class="card-content has-text-centered">
              All 3 tokens
              <hr>
              <div class="token">
                <input type="checkbox" />
                <label for="">
                  vBIgLKsEyiN3AGcevFMn
                </label>
                <span style="float: right; color: #424242; font-size: 0.8em">
                  copy
                </span>
              </div>
              <div class="token">
                <input type="checkbox" />
                <label for="">
                  4yvLZlEKcbia731FfGxp
                </label>
                <span style="float: right; color: #424242; font-size: 0.8em">
                  copy
                </span>
              </div>
              <div class="token">
                <input type="checkbox" />
                <label for="">
                  a1BWn2lhyVHozzHrZCPA
                </label>
                <span style="float: right; color: #424242; font-size: 0.8em">
                  copy
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{ template "footer" . }}
  </body>
</html>
