.book-item{
    margin-top: 4px;
    padding: 10px;
    width: 100%;
    color: black;
}

.inline{
    display: inline-flex;
}

a {
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}