<!DOCTYPE html>
<html lang="ru">
{{ template "head" . }}
<body>
<div class="container main" >
  <div>
    <h1>Ошибка <b>404</b></h1>
    <p>Мы очень сожалеем, но страница которую вы ищете не существует или была удалена.</p>
    <hr>
    <a href="/">Вернуться на главную</a>
  </div>
</div>
</body>
</html>>