<!DOCTYPE html>
<html lang="ru">
{{ template "head" . }}
<body>
<div class="container main" >
  <div>
    <h1>Ошибка <b>500</b></h1>
    <p>Мы очень сожалеем, но наш сервер сейчас не может отобразить эту страницу.</p>
    <hr>
    <a href="/">Вернуться на главную</a>
  </div>
</div>
</body>
</html>