{{ define "footer" }}
<footer class="footer">
  <div class="container">
    <span class="text-muted">2022 SMS Broadcaster|| Works on golang.</span>
  </div>
</footer>
{{ template "scripts"}}
{{ end }}