{{ define "footer" }}
<footer class="footer">
  <div class="container">
    <span class="text-muted">2021 Сайт создан чтобы следить за пробегом для авто на солнечной энергии по Казахстану летом 2022 года.|| Works on golang.</span>
  </div>
</footer>
{{ template "scripts"}}
{{ end }}