{{ define "styles" }}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="/assets/style/style.css">
  <link rel="stylesheet" href="/assets/style/items.css">
  <link rel="stylesheet" href="/assets/style/colors.css">
{{ end }}