<!DOCTYPE html>
<html lang="ru">
  {{ template "head" . }}
  <body>
      {{ template "header" . }}
      <div class="container main">
        <div class="card-content">
          <div class="card">
            <div class="card-content">
              Welcome {{ .User.Email }}<br>
              <hr>
            </div>
          </div>
        </div>
      </div>
      {{ template "footer" . }}
  </body>
</html>