<!DOCTYPE html>
<html lang="ru">
{{ template "head" . }}
<body>

<div class="login-card" >
  {{ template "alert-message" . }}
  <div class="card">
    <div class="card-content">
      <h3 class="subtitle">Sign up</h3>
      <form action="/register" method="post">
        <label for="email_reg" class="label" ></label>
        <div class="control">
          <input type="text" class="input" id="email_reg" name="email_reg" placeholder="email@example.com">
        </div>
        <label for="password" class="label"></label>
        <div class="control">
          <input type="password" class="input" id="password" name="password_reg" placeholder="*******">
        </div>
        <div class="control">
          <input type="password" class="input" id="password" name="password_reg_again" placeholder="password comfirm">
        </div>
        <br>
        <div class="control">
          <button type="submit" class="primary-button">Sign Up</button>
        </div>
      </form>
      <br>
      If you have an account <a href="/login">Sign in</a>
    </div>
  </div>
</div>
</body>
</html>