<!DOCTYPE html>
<html lang="ru">
{{ template "head" . }}
<body>
{{ template "header" . }}
<div class="container main">
  <div class="card">
    <div class="card-content">
      <div class="right is-size-7">
      <span class="tag is-info">
        <i class="far fa-eye">&nbsp</i> {{ number_separator .Participant.Views }}
      </span>
      </div>
      <div>
        <h1 class="title">{{ .Participant.Title }}</h1>
      </div>
      <p>
      {{ html .Participant.Desc }}
      </p>
    </div>
  </div>
  {{ if .User.IsSuperuser }}
    <small>
      <a href="/participants/{{ .Participant.Id }}/add">Добавить пост</a>
      <a href="/participants/{{ .Participant.Id }}/edit">Редактировать</a>
    </small>
  {{ end }}
  <br>
  <b> </b>
  <br>
</div>
{{ template "footer" . }}
</body>
</html>
