<!DOCTYPE html>
<html lang="ru">
{{ template "head" . }}
<body>
{{ template "header" . }}
<div class="container main" >
  <h2> Все участники</h2>
  {{ if .User.IsSuperuser }}
  <small>
    <a href="/participants/create">Добавить</a>
  </small>
  {{ end }}
  <hr>
  {{ template "participantsList" . }}
</div>
{{ template "footer" . }}
</body>
</html>
